@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&family=Quicksand:wght@400;600&family=Roboto:wght@400;700;900&display=swap');

body {
font-family: 'Abril Fatface', cursive;
font-size: 1.2rem;
background-color: #060b23;
color: white;
}

h1{
    font-size: 40px;
    color: white;
    margin-top: 10px;
}
.main-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
}
.form{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.formlogin{
    margin-top: 120px;
}
input{
    width: 320px;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.00rem;
    background: none;
    margin-bottom: 16px;
}

input:hover{
    border-color:  #adffff;
}
input:focus{
    border-color: #18ffff;
}

.pswlbl3{
    width: 30%;
    margin-left: 80px;
    height: 20%;
    background:none;
    color: #ffffff;
}

.pswlbl3:hover{
    cursor: pointer;
}
.pswlbl3:active{
    position: relative;
    top: 4px;
}

.error{
    font-size: 16px;
    color: white;
    margin-left: 30px;
    text-align: center;
}
.error-dav{
    position: absolute;
    top: 600px;
    width: 100%;

}
.pswlbl2{
    width: 50%;
    margin: 0 auto; 
}

.navbar{
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid rgb(255, 255, 255);
}
.subnav{
    display: flex;
}
.bottom-vav{
    margin-left: 24px;
}
a{
    
    text-decoration: none;
    color: wheat;
}
.main-cont{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 40px;
    margin-top: 80px;
}
.left{
    margin-left: 180px;
}
.right{
    margin-right: 180px;
}
.messages-amount{
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}
.messaegs-c{
    display: flex;
    flex-direction: column;
    margin-top: 76px;
    overflow-y: scroll;
    width: 400px;
    height: 400px;
    border: 2px solid white;
    
}
.message-send{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    overflow-y: scroll;
    width: 400px;
    height: 400px;
    border: 2px solid white;
}

textarea{
    resize: none;
    width: 200px;
    height: 50px;
    
}
.top{
    margin-left: 24px;
    margin-top: 1px;
}
.none{
    margin-top: 2px;
}
.space{
    letter-spacing: 1px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.yes{
    padding-right: 40px;
    margin-top: 24px;
}
.button{
    width: 120px;
    height: 40px;
    padding: 0;
    margin: 0;
    margin-top: 12px;
}
.button:hover{
    cursor: pointer;
}
.burh{
    display: flex;
    justify-content: space-between;
    margin: 12px;
    align-items: center;

}
.name{
    margin-left: 12px;
}